/* Fonts colors */
body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Playfair Display', serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
h2 {
  color: #494949;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #494949;
}

/* Custom-design */
.banner {
  background-image: url("http://unsplash.it/1000/500");
  background-size: cover;
  color: white;
  padding: 120px 0;
}
.banner h1 {
  font-size: 38px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner p {
  font-size: 30px;
  font-weight: lighter;
/*   opacity: 0; */
}
.container {
  width: 700px;
  margin: 50px auto;
}
.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
/*   font-weight: lighter; */
  font-size: 25px;
  font-style: italic;
}
.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}
.link-to-site{
  color: rgb(186, 214, 214);

}
/* Navbar */
.nav-container {
  background: #171717;
  width: 100vw;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
ul a{
  display: block;
  padding: 0 1em;
  color: aliceblue;
}
li{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
nav{
  float: right;
}
ul{
  display: flex;

}
/* Media-queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
