/* Fonts colors */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
/* @import url(https://use.fontawesome.com/releases/v6.1.2/css/all.css); */
@font-face {
  font-family: "OrangeSquashRegular";
  src: url('webFonts/OrangeSquashRegular/font.woff2') format('woff2'), url('webFonts/OrangeSquashRegular/font.woff') format('woff');
}
/* body */
body {
  color: #191919;
  font-size: 20pt;
  line-height: 1.6;
  /* font-weight: lighter; */
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* nav */
.nav-container {
  background: #232227;
  width: 100vw;
  /* height: 57px; */
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
ul{
  list-style-type: none;
}
.logo{
  padding-left: 2em;
}
.date{
  padding-right: 2em;
}
header{
  display: flex;
  justify-content: space-between;
  /* padding: 1em; */
  align-items: center;
}
nav ul{
  display: flex;
}
nav a{
  display: block;
  padding: 0 1em;
}

/*scroll */
html{
  scroll-behavior: smooth;
}


/* Custom-design banner */

.banner {
  /* background-image: url("images-git/green.png");
  background-size: cover;
  background-position: center center; */
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 10px;
  justify-content: center;
  padding:10%;
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
}
.banner h1 {
  font-size: 90pt;
  /* text-shadow: 1px 1px 3px rgba(1,0,0,1); */
  /* margin: auto; */
  color: rgb(0, 0, 0);
  padding: 10px 0;
  /* text-align: center; */
}
.banner p {
  font-size: 50pt;
  font-weight: lighter;
  margin: auto;
  text-align: center;
}
.container-banner{
  place-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 0px;
  height: min-content;
  overflow: hidden;

  padding: 0 0 30px;
  width: 100%;
  position: relative;
}

/* About me */
.container-about-me {
  width: 900px;
  margin:  160px auto;
}
.container h2{
  text-align: center;
}
.link-to-site{
  color: rgb(149, 126, 255);
}

/* .about-me{
  /* width: 80%; */
  /* height: 500px;
  margin: 200px auto;
}  */
.about-me h2{
  text-align: center;
}


/* colour blob */
.blob-motion{
  position: absolute;
  transform: translateY(-120%);
  z-index: -1;
}


/* projects */
.container-pro{
  background-color: #F1EFFE;
}
.projects{
  width: 90%;
  margin: 0px auto;
  padding-bottom: 100px;
  padding-top: 50px;
}
h1 {
  font-size: 35pt;
  text-align: center;
}
h2 {
  /* text-align: center; */
  font-size: 35pt;
}
.cards-projects{
  width: 90%;
  margin: 20px auto;
  margin-top: 80px;
}
.cards{
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr ;
}


/* Projects cards */
.card-pro {
  background: white;
  padding-bottom: 20px;
  border-radius: 10px;
}

.card-pro img{
  width: 100%;
  height: 80%;
  display: block;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.card-pro h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.card-pro p {
  font-size: 20px;
  opacity: .7;
  margin: 0;
}
.card-pro .info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


/* image gird */
.image-grid{
  --gap: 16px;
  --num-cols:4;
  --row-height:300px;
  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
}


/* about-me more */
.container-more{
  height: 900px;
  margin: 160px auto;
}
/* book */
.book{
  padding-bottom: 25px;
}


/* follow me */
.call-me-kar {
  background-color: white;
  padding: 40px;
  padding-top: 200px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  /* margin: 20px 0px; */
  height: 500px;
  text-align: center;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
}


/* footer */
.footer {
  background: #232227;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgb(255, 255, 255);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(149, 126, 255);
  opacity: 0.50;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: rgb(149, 126, 255);
}

/* Media-queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }

}
@media(max-width: 500px) {
  .container-banner {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}

/* media */
@media (max-width: 1100px) {
  .blob-motion {
    width: 90%;
    height: 90%;
    /* left: 25%;
    top: 230%; */
  }
}
@media (max-width: 900px) {
  .blob-motion {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 750px) {
  .blob-motion {
    width: 70%;
    height: 70%;
    /* top: 220%;
    left: -5%; */
  }
}
@media (max-width: 550px) {
  .blob-motion {
    width: 70%;
    height: 70%;
  }
}
